{<<"app">>,<<"mssqlex">>}.
{<<"build_tools">>,[<<"mix">>]}.
{<<"description">>,
 <<"Adapter to Microsoft SQL Server. Using DBConnection and ODBC.">>}.
{<<"elixir">>,<<"~> 1.8">>}.
{<<"files">>,
 [<<"lib">>,<<"lib/mssqlex">>,<<"lib/mssqlex/error.ex">>,
  <<"lib/mssqlex/odbc.ex">>,<<"lib/mssqlex/protocol.ex">>,
  <<"lib/mssqlex/query.ex">>,<<"lib/mssqlex/result.ex">>,
  <<"lib/mssqlex/stream.ex">>,<<"lib/mssqlex/type.ex">>,
  <<"lib/mssqlex/type_parser">>,<<"lib/mssqlex/type_parser/agent.ex">>,
  <<"lib/mssqlex/type_parser/_type_parser.ex">>,<<"lib/mssqlex.ex">>,
  <<"mix.exs">>,<<"README.md">>,<<"LICENSE">>]}.
{<<"licenses">>,[<<"Apache 2.0">>]}.
{<<"links">>,[{<<"GitHub">>,<<"https://github.com/findmypast-oss/mssqlex">>}]}.
{<<"name">>,<<"mssqlex">>}.
{<<"requirements">>,
 [[{<<"app">>,<<"db_connection">>},
   {<<"name">>,<<"db_connection">>},
   {<<"optional">>,false},
   {<<"repository">>,<<"hexpm">>},
   {<<"requirement">>,<<"~> 2.1">>}],
  [{<<"app">>,<<"decimal">>},
   {<<"name">>,<<"decimal">>},
   {<<"optional">>,false},
   {<<"repository">>,<<"hexpm">>},
   {<<"requirement">>,<<"~> 1.8">>}],
  [{<<"app">>,<<"gproc">>},
   {<<"name">>,<<"gproc">>},
   {<<"optional">>,false},
   {<<"repository">>,<<"hexpm">>},
   {<<"requirement">>,<<"~> 0.8">>}]]}.
{<<"version">>,<<"2.0.0-beta.0">>}.
